@page "/"

<PageTitle>Index</PageTitle>

<h1>Hola, Bienvenido(a) a este nuevo sistema de registro de productos</h1>

<h6>Permitira manejar registro de productos con detalles, ademas permitira hacer consultas. </h6>

<SurveyPrompt Title="Repositorio del codigo fuente" />
